#contact-us {
  padding-top: 7rem;
  background: url(../../../assets/images/doctors/doctor-details-bg.svg) no-repeat center center/cover;
  min-height: 100vh;

  .overlay-search {
    position: absolute;
    inset: 0;
    background-color: rgba(17, 17, 17, 0.32);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  .contact-form {
    width: 60%;

    @media (max-width: 991px) {
      width: 85%;
    }

    @media (max-width: 767px) {
      width: 95%;
    }

    .form-control,
    textarea {
      background-color: #eee;
      border-radius: 5px;
      height: auto;
      resize: none;
    }

    .form-btn {
      padding: 0 5rem;
      background-color: var(--bg-main-color);
      border-color: var(--bg-main-color);
      color: var(--text-white-color);
      height: 3rem;
      border-radius: var(--border-input-radius);
      min-width: 10rem;
    }
  }
}