<div id="contact-us">
  <div class="container">
    <div class="my-5 position-relative">
      <div *ngIf="isLoadingBtn"
        class="overlay-search position-absolute d-flex justify-content-center align-items-center">
        <div *ngFor="let item of [1,2,3,4]" class="spinner-grow" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <h1 class="text-main-color text-center m-3 fs-3">
        <!-- {{ 'contact.contactUs' | translate }} -->
        تواصل معنا
      </h1>
      <p class="description text-center mt-4">
        <!-- {{ 'contact.contactDescription' | translate }} -->
        إذا كان لديك أي سؤال، طلب أو اقتراح، لا تتردد في التواصل معنا
      </p>
      <div class="d-flex justify-content-center w-100">
        <form [formGroup]="contactForm" (ngSubmit)="submit()"
          class="contact-form d-flex flex-column align-items-center mt-5">
          <div class="form-group mb-3 w-100">
            <label for="name" class="mb-2 required fw-500">
              <!-- {{ 'labels.name' | translate }} -->
              الإسم
            </label>
            <input type="text" id="name" class="form-control" formControlName="name"
              [ngClass]="{'border-red': formControls?.name?.invalid && (formControls?.name?.dirty || formControls?.name?.touched)}"
              autocomplete="name" placeholder="{{ 'placeholders.name' | translate }}">
            <div *ngIf="formControls?.name?.invalid && (formControls?.name?.dirty || formControls?.name?.touched)"
              class="text-danger fs-8 mt-2">
              <div *ngIf="formControls?.name?.errors?.required">
                {{ 'validations.requiredField' | translate }}
              </div>
              <div *ngIf="formControls?.name?.errors?.minlength">
                {{ 'validations.length' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group mb-3 w-100">
            <label for="email" class="mb-2 required fw-500">
              <!-- {{ 'labels.email' | translate }} -->
              البريد الإلكتروني
            </label>
            <input type="email" id="email" class="form-control" formControlName="email"
              [ngClass]="{'border-red': formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)}"
              autocomplete="email" placeholder="{{ 'placeholders.email' | translate }}">
            <div *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)"
              class="text-danger fs-8 mt-2">
              <div *ngIf="formControls?.email?.errors?.required">
                {{ 'validations.emailRequired' | translate }}
              </div>
              <div *ngIf="formControls?.email?.errors?.pattern">
                {{ 'validations.emailNotValid' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group mb-3 w-100">
            <label for="subject" class="mb-2 required fw-500">
              <!-- {{ 'labels.subject' | translate }} -->
              الموضوع
            </label>
            <textarea id="subject" class="form-control" formControlName="subject"
              [ngClass]="{'border-red': formControls?.subject?.invalid && (formControls?.subject?.dirty || formControls?.subject?.touched)}"
              placeholder="{{ 'labels.subject' | translate }}"></textarea>
            <div
              *ngIf="formControls?.subject?.invalid && (formControls?.subject?.dirty || formControls?.subject?.touched)"
              class="text-danger fs-8 mt-2">
              <div *ngIf="formControls?.subject?.errors?.required">
                {{ 'validations.requiredField' | translate }}
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-solid-main form-btn mt-3">
            {{ 'general.send' | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>