.doctor-card {
  border-radius: 18px;
  border: 1px solid #eaecf0;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 20px 70px 0px rgba(0, 39, 96, 0.05);
    border: none;
  }
  .doctor-img {
    width: 13rem;
    height: 13rem;
    border: 2px solid #eaecf0;
  }
  .title {
    font-size: 1.6rem;
  }
  .description {
    color: #6f7479;
    font-size: 1.05rem;
  }
  .count-rate {
    border: 1px solid #eaecf0;
    width: fit-content;
  }

  // In SM Screen
  .doctor-img-sm {
    width: 4.8rem;
    min-width: 4.8rem;
    height: 4.8rem;
    border: 1px solid #eaecf0;
  }
}
@media (max-width: 776px) {
  .title {
    font-size: 1.4rem;
  }
}
