<section id="blog-details">
  <div class="container">
    <ng-container *ngIf="isLoadingBlogDetails; else blogContent">
      <app-skeleton type="blogDetails"></app-skeleton>
    </ng-container>
    <ng-template #blogContent>
      <ng-container *ngIf="blogDetails; else noDetails">
        <div class="content">
          <div class="hero-content">
            <div class="w-100 pb-3 d-flex align-items-baseline justify-content-between gap-2">
              <div>
                <h2 class="fw-bold mt-2 text-main-color">
                  {{ blogDetails?.title }}
                </h2>
                <div *ngIf="blogDetails?.author" class="d-inline-block">
                  <div class="d-flex align-items-center mx-2 mb-0" role="button"
                    [routerLink]="['/doctors/details', blogDetails?.author?.username]">
                    <img [src]="blogDetails?.author?.image" onerror="this.src='assets/images/main/defaults/default.png'"
                      class="doc-img-detail rounded-circle" width="40" height="40" loading="lazy" alt="doctor-img">
                    <div class="mx-2 d-flex flex-column">
                      <span class="fs-8 color-secondary w-100 text-truncate">
                        {{ blogDetails?.author?.name }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-wrap mb-2 mt-3 gap-2">
                  <p class="text-muted mb-0 fs-10">
                    <i class="fas fa-list-alt text-main-color mx-1"></i>
                    {{ blogDetails?.article_category?.name }}
                  </p>
                  <p class="text-muted fs-12 mb-0">
                    <i class="fas fa-clock text-main-color"></i>
                    <span class="mx-1 fs-12">
                      {{ blogDetails?.created_at | date: 'd MMM y HH:mm':'':currentLanguage }}
                    </span>
                  </p>
                  <p class="text-muted fs-12 mb-0">
                    <i class="fas fa-book text-main-color"></i>
                    <span class="mx-1 fs-12">
                      عدد مرات القراءة : {{ blogDetails?.reading_time }} دقيقة
                    </span>
                  </p>
                </div>
              </div>
              <a class="d-flex align-items-center gap-2" (click)="share()">
                <i class="pi pi-share-alt text-main-color fs-5"></i>
              </a>
            </div>
            <img class="w-100 image-center-cat rounded" [src]="blogDetails?.image?.url"
              onerror="this.src='assets/images/not-found/no-article.svg'" loading="lazy" alt="logo">
          </div>
          <div class="mt-4" [innerHTML]="getSafeHtml(blogDetails?.description)"></div>
        </div>
        <div *ngIf="relatedArticles?.length > 0" class="mt-5">
          <h3 class="text-main-color dectorated-title fw-bold">
            مقالات ذات صلة
          </h3>
          <app-articles-carousel [items]="relatedArticles"></app-articles-carousel>
        </div>
        <div *ngIf="relatedDoctors?.length > 0" class="mt-5">
          <h3 class="text-main-color dectorated-title fw-bold">
            أطباء ذات صلة
          </h3>
          <app-doctors-carousel [items]="relatedDoctors"></app-doctors-carousel>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #noDetails>
      <div class="col-12 mb-4 w-100">
        <div class="card border-0 shadow-none bg-transparent nodata">
          <img src="assets/images/no-data.png" class="my-5 noData-img" loading="lazy" alt="no data available">
          <p class="text-center primary-color mt-2 fs-3">
            لا يوجد بيانات لعرضها
          </p>
        </div>
      </div>
    </ng-template>
  </div>
  <app-footer></app-footer>
</section>