<div id="doctors-list" [class.ar-doctors-content]="currentLanguage=='ar'">
  <div class="container">
    <!-- Start Banner -->
    <app-banner-carousel [items]="[4,4,4,44]"></app-banner-carousel>
    <!-- End Banner -->

    <div class="row container1 d-flex mt-4">
      <div class="col-lg-3 d-lg-block d-none">
        <!-- Start Sidebar Card -->
        <div class="sidebar-card">
          <div class="overlay-search position-absolute d-flex justify-content-center" *ngIf="isLoadingDoctors">
            <div class="d-flex justify-content-center align-items-center gap-2">
              <ng-container *ngFor="let item of [8,8,9,8]">
                <div class="spinner-grow" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </ng-container>
            </div>
          </div>
          <h5 class="p-4 mb-0 fw-bold">
            {{'doctors.filterOptions'|translate}}
          </h5>
          <hr class="m-0">
          <form (ngSubmit)="filterNow()" [formGroup]="filterForm">
            <div class="p-4">
              <h5 class="mb-0 fs-5-1 fw-bold">
                {{'doctors.specialties' | translate}}
              </h5>
              <div class="mt-3">
                <!-- <div *ngFor="let category of specialitiesList"
                  class="field-checkbox d-flex align-items-center gap-3 mb-3">
                  <p-checkbox value="category" [value]="category" formControlName="category" [inputId]="category.id"
                    [disabled]="false"></p-checkbox>
                  <label [for]="category.id" class="mb-0">{{category.name}}</label>
                </div> -->
                <div *ngFor="let category of specialitiesList;let i=index"
                  class="field-radiobutton d-flex align-items-center gap-2 mb-3">
                  <p-radioButton [value]="category.id" formControlName="category"
                    [inputId]="category.id"></p-radioButton>
                  <label [for]="category.id+i" class="mb-0">
                    {{category.name}}
                  </label>
                </div>
              </div>
            </div>
            <hr class="m-0">
            <div class="p-4">
              <h5 class="mb-0 fs-5-1 fw-bold">
                {{'doctors.gender' | translate}}
              </h5>
              <div class="mt-3">
                <div class="field-radiobutton d-flex align-items-center gap-2 mb-3">
                  <p-radioButton value="male" formControlName="gender" inputId="male"></p-radioButton>
                  <label for="male" class="mb-0">
                    {{'doctors.male'|translate}}
                  </label>
                </div>
                <div class="field-radiobutton d-flex align-items-center gap-2">
                  <p-radioButton value="female" formControlName="gender" inputId="female"></p-radioButton>
                  <label for="female" class="mb-0">
                    {{'doctors.female'|translate}}
                  </label>
                </div>

                <!-- <div class="form-check">
                  <input class="form-check-input " type="radio" name="gender" id="gender11" checked
                    formControlName="gender" value="male">
                  <label class="form-check-label" for="gender11">
                    {{'doctors.male' | translate}}
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="gender22" formControlName="gender" value="female">
                  <label class="form-check-label" for="gender22">
                    {{'doctors.female' | translate}}
                  </label>
                </div> -->
              </div>
            </div>
            <hr class="m-0">
            <div class="p-4">
              <h5 class="mb-0 fs-5-1 fw-bold">
                {{'doctors.priceValue' | translate}}
              </h5>
              <div class="p-inputgroup mt-3">
                <span class="p-inputgroup-addon border-0">
                  <span
                    class="dollar-icon bg-main-color rounded-circle d-flex justify-content-center align-items-center text-white-color fs-7">
                    $
                  </span>
                </span>
                <input type="text" formControlName="startPrice" class="border-0 bg-transparent px-2" pInputText
                  placeholder="{{'placeholders.setMin'|translate}}">
              </div>
              <div class="p-inputgroup mt-3">
                <span class="p-inputgroup-addon border-0">
                  <span
                    class="dollar-icon bg-main-color rounded-circle d-flex justify-content-center align-items-center text-white-color fs-7">
                    $
                  </span>
                </span>
                <input type="text" formControlName="endPrice" class="border-0 bg-transparent px-2" pInputText
                  placeholder="{{'placeholders.setMax'|translate}}">
              </div>
              <div class="mt-3 d-flex align-items-center flex-wrap gap-2">
                <div class="rounded-pill p-2 fs-5-2 price fw-500 active">
                  <span>
                    0-150
                  </span>
                  <span>
                    {{'general.sr'|translate}}
                  </span>
                </div>
                <div class="rounded-pill p-2 fs-5-2 price fw-500 active">
                  <span>
                    150-300
                  </span>
                  <span>
                    {{'general.sr'|translate}}
                  </span>
                </div>
                <div class="rounded-pill p-2 fs-5-2 price fw-500">
                  <span>
                    300-500
                  </span>
                  <span>
                    {{'general.sr'|translate}}
                  </span>
                </div>
                <div class="rounded-pill p-2 fs-5-2 price fw-500">
                  <span>
                    500-1
                  </span>
                  <span>
                    {{'general.sr'|translate}}
                  </span>
                </div>
              </div>
            </div>
            <div class="d-flex flex-wrap justify-content-center align-items-center gap-2 p-4">
              <button type="submit" class="btn btn-solid-main">
                {{'general.search'|translate}}
              </button>
              <button class="btn btn-outline-main" (click)="reset()">
                {{'general.reset'|translate}}
              </button>
            </div>
          </form>
        </div>
        <!-- End Sidebar Card -->
      </div>
      <div class="col-lg-9 content1">
        <!-- Start Search -->
        <div class="p-inputgroup w-100 mb-5 position-relative">
          <div class="overlay-search search-filter position-absolute d-flex justify-content-center"
            *ngIf="isLoadingDoctors">
            <div class="d-flex justify-content-center align-items-center gap-2">
              <ng-container *ngFor="let item of [8,8,9,8]">
                <div class="spinner-grow" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </ng-container>
            </div>
          </div>
          <input type="text" class="form-control border-0 bg-transparent"
            placeholder="{{'doctors.findDoctor'|translate}}" #searchInput (keyup)="handleSearch(searchInput.value)">
          <div class="d-flex align-items-center gap-3">
            <ng-container *ngIf="searchInput.value">
              <span class="pointer" (click)="clearSearchValue(searchInput)">
                <i class="pi pi-filter-slash text-main-color"></i>
              </span>
            </ng-container>
            <span class="d-lg-none d-flex pointer" (click)="displayFilter=true">
              <i class="pi pi-filter text-main-color fs-5-2"></i>
            </span>
          </div>
          <span class="p-inputgroup-addon bg-transparent border-0">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.92578 21L8.27578 16.65M5.92578 11C5.92578 15.4183 9.5075 19 13.9258 19C18.3441 19 21.9258 15.4183 21.9258 11C21.9258 6.58172 18.3441 3 13.9258 3C9.5075 3 5.92578 6.58172 5.92578 11Z"
                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </div>
        <!-- End Search -->
        <div class="row">
          <ng-container *ngIf="isLoadingDoctors; else noLoadingDoctors">
            <app-skeleton [type]="'doctorsList'"></app-skeleton>
          </ng-container>
          <ng-template #noLoadingDoctors>
            <ng-container *ngIf="doctorsList?.length>0; else noData">
              <ng-container *ngFor="let doctor of doctorsList ; let i = index">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-4">
                  <app-doctor-card [item]="doctor"></app-doctor-card>
                </div>
              </ng-container>
            </ng-container>
            <ng-template #noData>
              <div class="py-4 d-flex justify-content-center align-items-center gap-3 flex-column">
                <ng-container *ngIf="isSearch; else noSearch">
                  <app-dynamic-svg [name]="'no-data'"></app-dynamic-svg>
                  <p>
                    {{'general.noSearchResult'|translate}}
                  </p>
                </ng-container>
                <ng-template #noSearch>
                  <app-dynamic-svg [name]="'no-data'"></app-dynamic-svg>
                  <p>
                    {{'doctors.noDoctors'|translate}}
                  </p>
                </ng-template>
              </div>
            </ng-template>
          </ng-template>
        </div>
        <ng-container *ngIf="totalDoctors>doctorsList?.length">
          <div>
            <p-paginator [rows]="10" [totalRecords]="totalDoctors" (onPageChange)="onPageChange($event)"></p-paginator>
          </div>
        </ng-container>

      </div>
    </div>

    <p-sidebar [(visible)]="displayFilter" [position]="currentLanguage=='ar'?'right':'left'">
      <div class="d-flex justify-content-between align-items-center p-3">
        <h5 class="mb-0 fw-bold">
          {{'doctors.filterOptions'|translate}}
        </h5>
        <a (click)="displayFilter=false" class="close d-flex justify-content-center align-items-center">
          <i class="pi pi-times"></i>
        </a>
      </div>
      <div class="position-relative sidebar-info">
        <div class="overlay-search search-sidebar position-absolute d-flex justify-content-center"
          *ngIf="isLoadingDoctors">
          <div class="d-flex justify-content-center align-items-center gap-2">
            <ng-container *ngFor="let item of [8,8,9,8]">
              <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-container>
          </div>
        </div>
        <hr class="m-0 mb-3">
        <form (ngSubmit)="filterNow()" [formGroup]="filterForm" class="form-container" aria-label="filter">
          <div class="p-4 pt-0">
            <h5 class="mb-0 fs-5-1 fw-bold">
              {{'doctors.specialties' | translate}}
            </h5>
            <div class="mt-3">
              <!-- <div *ngFor="let category of specialitiesList"
                class="field-checkbox d-flex align-items-center gap-3 mb-3">
                <p-checkbox value="category" [value]="category" formControlName="category" [inputId]="category.id"
                  [disabled]="false"></p-checkbox>
                <label [for]="category.id" class="mb-0">{{category.name}}</label>
              </div> -->
              <div *ngFor="let category of specialitiesList;let i=index"
                class="field-radiobutton d-flex align-items-center gap-2 mb-3">
                <p-radioButton [value]="category.id" formControlName="category" [inputId]="category.id"></p-radioButton>
                <label [for]="category.id+i" class="mb-0">
                  {{category.name}}
                </label>
              </div>
            </div>
          </div>
          <hr class="m-0">
          <div class="p-4">
            <h5 class="mb-0 fs-5-1 fw-bold">
              {{'doctors.gender' | translate}}
            </h5>
            <div class="mt-3">
              <div class="field-radiobutton d-flex align-items-center gap-2 mb-3">
                <p-radioButton value="male" formControlName="gender" inputId="male"></p-radioButton>
                <label for="male" class="mb-0">
                  {{'doctors.male'|translate}}
                </label>
              </div>
              <div class="field-radiobutton d-flex align-items-center gap-2">
                <p-radioButton value="female" formControlName="gender" inputId="female"></p-radioButton>
                <label for="female" class="mb-0">
                  {{'doctors.female'|translate}}
                </label>
              </div>
            </div>
          </div>
          <hr class="m-0">
          <div class="p-4">
            <h5 class="mb-0 fs-5-1 fw-bold">
              {{'doctors.priceValue' | translate}}
            </h5>
            <div class="p-inputgroup mt-3">
              <span class="p-inputgroup-addon border-0">
                <span
                  class="dollar-icon bg-main-color rounded-circle d-flex justify-content-center align-items-center text-white-color fs-7">
                  $
                </span>
              </span>
              <input type="text" formControlName="startPrice" class="border-0 bg-transparent px-2" pInputText
                placeholder="{{'placeholders.setMin'|translate}}">
            </div>
            <div class="p-inputgroup mt-3">
              <span class="p-inputgroup-addon border-0">
                <span
                  class="dollar-icon bg-main-color rounded-circle d-flex justify-content-center align-items-center text-white-color fs-7">
                  $
                </span>
              </span>
              <input type="text" formControlName="endPrice" class="border-0 bg-transparent px-2" pInputText
                placeholder="{{'placeholders.setMax'|translate}}">
            </div>
            <div class="mt-3 d-flex align-items-center flex-wrap gap-2">
              <div class="rounded-pill p-2 fs-5-2 price fw-500 active">
                <span>
                  0-150
                </span>
                <span>
                  {{'general.sr'|translate}}
                </span>
              </div>
              <div class="rounded-pill p-2 fs-5-2 price fw-500 active">
                <span>
                  150-300
                </span>
                <span>
                  {{'general.sr'|translate}}
                </span>
              </div>
              <div class="rounded-pill p-2 fs-5-2 price fw-500">
                <span>
                  300-500
                </span>
                <span>
                  {{'general.sr'|translate}}
                </span>
              </div>
              <div class="rounded-pill p-2 fs-5-2 price fw-500">
                <span>
                  500-1
                </span>
                <span>
                  {{'general.sr'|translate}}
                </span>
              </div>
            </div>
          </div>
          <div class="d-flex flex-wrap justify-content-center align-items-center gap-2 p-4">
            <button type="submit" class="btn btn-solid-main">
              {{'general.search'|translate}}
            </button>
            <button class="btn btn-outline-main" (click)="reset()">
              {{'general.reset'|translate}}
            </button>
          </div>
        </form>
      </div>
    </p-sidebar>
  </div>
</div>