#doctors-list {
  padding-top: 6rem;
  .btn-solid-main {
    min-width: 7rem;
    color: var(--text-white-color) !important;
    background-color: var(--bg-main-color) !important;
    border-color: var(--text-main-color) !important;
    border-radius: 0.5rem;
    padding: 0.65rem 1.25rem;
    font-size: 1rem;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }

  .btn-solid-main:hover,
  .btn-solid-main:focus {
    color: var(--text-white-color) !important;
  }

  .btn-outline-main {
    border: 2px solid var(--bg-main-color);
    color: var(--text-main-color);
    border-radius: 10px;
    padding: 0.7rem 1.2rem;
  }
  .sidebar-card {
    background: #f9fafb;
    border-radius: 18px;
    position: sticky;
    top: 6rem;
    hr {
      border-color: #d2d1d1;
    }
  }

  .price {
    border: 1px solid #f4f6f8;
    color: #5a7184;
    &.active {
      border-color: var(--bg-main-color);
      color: var(--text-main-color);
    }
  }
  .form-container {
    height: calc(100vh - 5rem);
    overflow: auto;
  }
  .overlay-search {
    inset: 0;
    background-color: #11111128;
    z-index: 2;
    border-radius: 20px;
  }
  .search-filter {
    border-radius: 10px;
  }
  .search-sidebar {
    border-radius: 0;
  }
  .spinner-grow {
    width: 0.7rem;
    height: 0.7rem;
    background-color: var(--bg-main-color);
  }
}

:host::ng-deep {
  #doctors-list {
    .p-radiobutton {
      .p-radiobutton-box {
        border-radius: 6px;
        box-shadow: none;
        &:hover {
          border-color: #ced4da;
        }
        &.p-highlight {
          background-color: var(--bg-main-color);
          border-color: var(--bg-main-color);
          &:hover {
            border-color: var(--bg-main-color);
          }
        }
      }
      .p-radiobutton-icon {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          font-family: "primeicons";
          content: "\e909";
          color: var(--text-white-color);
          font-size: 0.8rem;
        }
      }
    }

    .p-inputtext {
      height: 2.6rem !important;
    }
    .p-inputgroup {
      border: 1px solid #ededed;
      border-radius: 10px;
      overflow: hidden;
      .p-inputgroup-addon {
        background-color: #f4f6f8;
        .dollar-icon {
          width: 1.5rem;
          min-width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    .p-paginator {
      .p-link {
        border-radius: 50% !important;
      }
      .p-paginator-page {
        min-width: 2.5rem;
        height: 2.5rem;
      }
      .p-paginator-page.p-highlight {
        background-color: #f9fafb !important;
        color: #000 !important;
      }
    }

    .p-sidebar .p-sidebar-header {
      display: flex;
      justify-content: flex-end;
    }

    .close {
      background-color: #f44336;
      color: var(--text-white-color);
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }

    .sidebar-info {
      padding: 0 0.6rem;
    }

    .p-sidebar-content {
      max-height: 100vh;
      margin: 0;
      padding: 0;
    }

    .p-sidebar .p-sidebar-header,
    .p-sidebar .p-sidebar-footer {
      display: none;
    }
  }
  &.ar-doctors-content {
    .p-paginator-prev,
    .p-paginator-next,
    .p-paginator-first,
    .p-paginator-last {
      transform: scaleX(-1);
    }
  }
}
@media (max-width: 1220px) {
  #doctors-list {
    padding-top: 1rem;
    .sidebar-card {
      top: 1rem;
    }
  }
}
