#journey {
  padding-top: 5rem;
  padding-bottom: 3rem;

  // Start Hero Section
  #hero-secion {
    min-height: 70vh;
    background-color: var(--bg-main-color);
    border-radius: 20px;
    background-image: url("./../../../assets/images/journey/bg-hero-journey-ltr.webp"); // Replace with your actual image path
    background-size: cover; // Adjust as needed (e.g., 'contain', '100% auto', etc.)
    background-repeat: no-repeat;
    background-position: center center;

    // Change background image when direction is right-to-left (RTL)
    &:dir(rtl) {
      background-image: url("./../../../assets/images/journey/bg-hero-journey-rtl.webp") !important; // Path to RTL background image
    }

    padding: 4rem;
    color: var(--text-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      font-size: 58px;
      line-height: 71.42px;

    }

    .description {
      font-size: 20px;
      line-height: 30px;
    }

    //  Hero Section Button
    .btn-outline-white {
      min-width: 7rem;
      color: var(--text-white-color) !important;
      background-color: transparent !important;
      border-width: 2px;
      border-color: var(--text-white-color) !important;
      border-radius: 0.5rem;
      padding: 0.65rem 1.25rem;
      font-size: 0.9rem;
      position: relative;
      transition: all 0.4s ease-in-out;
      z-index: 1;
    }

    // End Hero Section Topics
  }

  // End Hero Section

  // Start Journey Step Section
  #steps {
    .title {
      color: var(--text-main-color);
      font-size: 32px;
      font-weight: 600;
      line-height: 53.57px;
    }

    .step {
      background-color: #f0f4f6;
      border-radius: 16px;
      padding: 0.9rem;
      min-height: 15rem;
    }

    .step-num {
      background-color: #0052881a;
      width: 2.8rem;
      min-width: 2.8rem;
      height: 2.8rem;
    }

    // .step-description {
    // }
    .special-step {
      background-color: var(--bg-secondary-color);
      border: 2px solid var(--bg-main-color);
      background-image: url(../../../assets/images/home/step-bg.svg);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @media (max-width: 576px) {
    #steps {
      .fs-5 {
        font-size: 1.1rem !important;
      }
    }
  }

  // End Journey Step Section

  // Start Salary Section
  #salary {
    .title {
      color: var(--text-main-color);
      font-size: 32px;
      font-weight: 600;
      line-height: 53.57px;
    }

    .description {
      font-size: 22px;
      line-height: 30px;
    }

    .box {
      border: 2px solid var(--bg-main-color);
      padding: 1.25rem 1rem;
      border-radius: 14px;
      background: #DAEAF4;

      .title {
        color: var(--text-main-color);
        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
      }

      .description {
        font-size: 18px;
        line-height: 24px;
        color: #213039;
      }

      .image-container {
        height: 14rem;

        img {
          object-fit: fill;
        }
      }
    }

  }

  // End Salary Section

  // Start Statistics Section
  #statistics {
    background-color: var(--bg-secondary-color);
  }

  @media (max-width: 576px) {
    #statistics {
      .fs-1 {
        font-size: 1.3rem !important;
      }

      .fs-5-1 {
        font-size: 0.9rem !important;
      }

      .fs-5-2 {
        font-size: 0.85rem !important;
      }
    }
  }

  // End Statistics Section
}

@media only screen and (max-width: 600px) {
  #journey {
    padding-top: 1rem;
    padding-bottom: 1rem;

    // Start Hero Section
    #hero-secion {
      height: auto;
      min-height: auto;
      padding: 1rem;

      .title {
        font-size: 1rem;
        margin-bottom: 0 !important;
      }

      .description {
        font-size: 0.8rem;
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
      }
    }

    // End Hero Section
  }
}

.btn-solid-main {
  min-width: 7rem;
  color: var(--text-white-color) !important;
  background-color: var(--bg-main-color) !important;
  border-color: var(--text-main-color) !important;
  border-radius: 0.5rem;
  padding: 0.65rem 1.25rem;
  font-size: 1rem;
  position: relative;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.btn-solid-main:hover,
.btn-solid-main:focus {
  color: var(--text-white-color) !important;
}