<div style='word-wrap:break-word' class="h-100">
  <div class="WordSection1 text-center h-100">
    <div #topOfPage></div>
    <div class="d-flex flex-column justify-content-between h-100">
      <div class="d-flex flex-column justify-content-between text-center h-100">
        <p class="MsoNormal" align="center"
          style='margin-top:0in;margin-right:0in; margin-bottom:.15in;margin-left:.05pt;text-align:center;text-indent:0in; line-height:107%'>
          <b><u>تلبينة</u></b>
        </p>
        <p class="MsoNormal"
          style='margin-top:0in;margin-right:0in;margin-bottom:0in; margin-left:9.6pt;text-indent:0in;line-height:107%'>
          <b><i>تلبينة ليست مزود خدمة طبية ولا تتحمل المسؤولية عن أفعال أي</i></b>
        </p>
        <p class="MsoNormal" align="center"
          style='margin-top:0in;margin-right:0in; margin-bottom:12.0pt;margin-left:0in;text-align:center;text-indent:0in; line-height:99%'>
          <b><i>أطراف ثالثة موجودة على هذا الموقع، أو أي من موظفيهم. تلبينة هي ببساطة وسيط لمساعدة المستهلك في العثور
              على
              مزود للخدمات المطلوبة</i></b>
        </p>
        <p class="MsoNormal" align="center"
          style='margin-top:0in;margin-right:0in; margin-bottom:.15in;margin-left:3.1pt;text-align:center;text-indent:0in; line-height:107%'>
          <b>&nbsp;</b>
        </p>
        <p class="MsoNormal" align="center"
          style='margin-top:0in;margin-right:0in; margin-bottom:.15in;margin-left:.6pt;text-align:center;line-height:107%'>
          <b>شروط استخدام هذا الموقع الإلكتروني</b>
        </p>
        <p class="MsoNormal" style='margin-left:-.25pt'><b>آخر تحديث:</b> &nbsp;9 يناير 2022</p>
        <p class="MsoNormal" style='margin-left:0in;text-indent:12.0pt'><span style='line-height:103%'><span
              style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
          الالتزام بالتأثير. هذه اتفاقية ملزمة. من خلال استخدام موقع الإنترنت الواقع في <b>تلبينة.كوم</b>
          (يُشار إليها مجتمعة بـ "الموقع" أو "التطبيق") أو أي خدمات/منتجات تُقدم بالارتباط مع الموقع (يُشار إليها بـ
          "الخدمة")، فإنك توافق على الالتزام بهذه الشروط الاستخدام، كما يمكن تعديلها من قبل <b>تلبينة</b> ("الشركة") من
          وقت لآخر حسب تقديرها الوحيد.&nbsp;</p>
      </div>
      <div class="mt-4 d-flex flex-wrap justify-content-center gap-3">
        <button class="btn btn-solid-main" (click)="agree()">
          <!-- {{'general.agree'|translate}} -->
          أوافق
        </button>
        <button class="btn btn-outline-main" (click)=" reject()">
          <!-- {{'general.reject'|translate}} -->
          أرفض
        </button>
      </div>
    </div>

    <div #endOfPage></div>

    <button
      class="scroll-end bg-main-color text-white-color rounded p-2 d-flex justify-content-center align-items-center h-auto"
      [ngClass]="{'scroll-top': isScrolledToBottom}" (click)="scrollToEnd()">
      <i class="pi pi-angle-double-down"></i>
    </button>

  </div>
</div>
