<div class="article-card bg-white-color w-100 d-flex justify-content-center align-items-center gap-3 flex-column p-3"
  [routerLink]="['/blogs/details/',item.title,{ id: item.id}]">
  <div class="article-img w-100">
    <img [src]="item?.image" alt="article" class="w-100 h-100"
      onerror="src='../../../../assets/images/not-found/no-article.svg'">
  </div>
  <div>
    <h5 class="title">
      {{item?.title||''}}
    </h5>
    <div class="description mb-0" [innerHTML]="item?.description">
    </div>
    <div class="d-flex gap-3 align-items-center flex-wrap mt-3">
      <div class="category rounded-pill px-3 py-1">
        {{item.category}}
      </div>
      <small class="fs-6-1 created-date">
        {{ item?.created_at | date: 'd MMM y HH:mm':'':currentLanguage }}
      </small>
    </div>
  </div>

</div>
