#doctor-slider {
  .doctor-img {
    width: 4rem;
    height: 4rem;
    margin: auto;
    img {
      object-fit: fill;
    }
  }
}
:host::ng-deep {
  #doctor-slider {
    .p-carousel-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .p-carousel-items-content {
      direction: ltr;
    }
    .p-carousel-container {
      position: relative;
      padding-bottom: 3rem;
      .p-carousel-next,
      .p-carousel-prev {
        position: absolute;
        bottom: 0;
        background-color: var(--bg-main-color);
        color: var(--text-white-color);
        border-radius: 50%;
      }
      .p-disabled {
        background-color: transparent;
        color: var(--text-main-color);
      }
      .p-carousel-next {
        right: 0;
      }
      .p-carousel-prev {
        right: 3rem;
      }
    }
  }
  .ar-slider {
    .p-carousel-next,
    .p-carousel-prev {
      transform: scaleX(-1);
    }
  }
}
