<div id="doctor-slider" [class.ar-slider]="currentLanguage=='ar'">
  <ng-container *ngIf="items?.length>4; else noSlider">
    <p-carousel [value]="items" [numVisible]="4" [numScroll]="1" [responsiveOptions]="doctorOptions"
      [showIndicators]="false" [showNavigators]="true">
      <ng-template let-slide pTemplate="item">
        <app-doctor-card class="w-100 mx-3" [item]="slide"></app-doctor-card>
      </ng-template>
    </p-carousel>
  </ng-container>
  <ng-template #noSlider>
    <div class="row">
      <ng-container *ngFor="let slide of items;let i=index">
        <div class="col-lg-3 col-md-6 col-6 mb-lg-0 mb-3">
          <app-doctor-card [item]="slide"></app-doctor-card>
        </div>
      </ng-container>
    </div>
  </ng-template>
</div>
