.btn-outline-main {
  border: 1px solid var(--bg-main-color);
  color: var(--text-main-color);
}
@media (max-width: 567px) {
  .title {
    font-size: 1.2rem;
  }
  .description {
    font-size: 1rem;
  }
}
