.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
li {
  list-style-type: none;
}
.icon.twitter,
.icon.telegram {
  color: rgb(29 161 242);
  background-color: #e8f7ff;
}
.icon.facebook {
  color: #1878f1;
  background-color: #e8f1fe;
}

.icon.linkedIn {
  color: #1878f1;
  background-color: #e8f1fe;
}
.icon.whatsapp {
  color: #25d366;
  background-color: #e9fbf0;
}
.icon.instagram {
  color: #c3308b;
  background-color: #ffe4f4;
}
.icon.discard {
  color: #798fd9;
  background-color: #f2f3fb;
}
.copied {
  background-color: #284a6f17;
  color: var(--text-main-color);
  padding: 2px 9px;
  border-radius: 5px;
}
