#available-doctor-appointments {
  .border-active-appointment {
    border: 1px solid var(--text-main-color) !important;
    background-color: #ecf4f1 !important;
  }

  .border-booked-appointment {
    border: 1px solid #eee !important;
    background-color: #eee !important;
  }

  .check-status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: 3px solid #fff;
    right: -25px;
  }

  .lock-status {
    background-color: rgba(255, 0, 0, 0.15);
  }

  @media (max-width: 567px) {
    .min-width-small {
      min-width: 8rem;
    }
  }
}
.btn-solid-main {
  min-width: 7rem;
  color: var(--text-white-color) !important;
  background-color: var(--bg-main-color) !important;
  border-color: var(--text-main-color) !important;
  border-radius: 0.5rem;
  padding: 0.65rem 1.25rem;
  font-size: 1rem;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}
