<div id="home-page">
  <!--========== Start Hero Section================= -->
  <div id="hero-section" class="pt-hero">
    <div class="container mx-auto">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1 order-2">
          <h1 class="title w-content text-capitalize fw-bold">
            {{'home.hero.heroTitle' | translate}}
          </h1>
          <p class="sub-title mt-2 mb-0">
            {{'home.hero.heroSubtitle' | translate}}
          </p>
          <p class="description mt-2 w-75">
            {{'home.hero.heroDescription' | translate}}
          </p>
          <div class="d-flex justify-content-sm-start justify-content-center mt-sm-5 mt-4">
            <button id="hero-button" class="btn btn-solid-main">
              {{'home.hero.startRecruiting' | translate}}
            </button>
          </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-9 col-11 m-lg-0 m-auto order-lg-2 order-1 mb-lg-0 mb-3">
          <div class="main-hero-image-conatiner">
            <img [src]="'assets/images/home/hero-img.svg'" alt="logo" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--============= End Hero Section================= -->
</div>