#home-page {

  .pt-hero {
    padding-top: 7rem;
  }

  // Start Hero Section
  #hero-section {
    min-height: calc(100vh - 0rem);
    background-image: url("./../../../assets/images/home/hero-bg.svg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    // Change background image when direction is right-to-left (RTL)
    &:dir(rtl) {
      background-image: url("./../../../assets/images/home/hero-bg-rtl.svg") !important;
    }

    .title {
      font-size: 4rem;
      background: linear-gradient(268.94deg, #9a46b8 -5.98%, #19547b 95.88%);
      background-clip: text;
      color: transparent;
    }

    .sub-title {
      font-size: 18px;
      line-height: 30px;
      color: #213039;
      font-weight: 700;
    }

    .description {
      color: #213039;
    }
    .main-hero-image-conatiner {
      img{
        height: 100%;
        width: 100%;
        object-fit: fill;
      }
    }
  }

  //  Hero Section Button
  .btn-solid-main {
    min-width: 7rem;
    color: var(--text-white-color) !important;
    background-color: var(--bg-main-color) !important;
    border-color: var(--text-main-color) !important;
    border-radius: 0.5rem;
    padding: 0.65rem 1.25rem;
    font-size: 1rem;
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }

  .btn-solid-main:hover,
  .btn-solid-main:focus {
    color: var(--text-white-color) !important;
  }

  // End Hero Section
  .btn-outline-main {
    border: 2px solid var(--bg-main-color);
    color: var(--text-main-color);
    border-radius: 10px;
    padding: 0.7rem 1.2rem;
  }
}

@media only screen and (max-width: 1199px) {
  #home-page {
    padding-top: 0rem;
    padding-bottom: 1rem;

    // Start Hero Section
    #hero-section {
      .title {
        font-size: 2.5rem;
      }

      .description {
        width: 100% !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #home-page {

    // Start Hero Section
    #hero-section {
      height: auto;
      min-height: auto;
      padding: 1rem;

      .title {
        font-size: 2.2rem;
      }
    }

    // End Hero Section
  }
}

@media only screen and (max-width: 576px) {
  #home-page {

    // Start Hero Section
    .fs-2,
    .fs-1 {
      font-size: 1.3rem !important;
    }

    .w-75 {
      width: 100% !important;
    }

    .fs-5-2 {
      font-size: 0.9rem !important;
    }

    #hero-section {
      .title {
        text-align: center;
        margin: auto;
        font-size: 1.4rem;
      }

      .sub-title {
        text-align: center;
        font-size: 1.1rem;
      }

      ul li {
        p {
          font-size: 0.9rem;
        }

        svg {
          width: 19px;
          height: 19px;
        }
      }

      .description {
        text-align: center;
        font-size: 0.8rem;
        margin-top: 0.25rem !important;
      }
    }

    // End Hero Section
  }
}