#complete-order {
  padding-top: 5rem;
  padding-bottom: 3rem;

  .slider {
    right: 0;

    &:dir(rtl) {
      right: inherit;
      left: 0;
    }
  }

  .bg-form {
    background-color: #0c3e5f;
    background-image: url(../../../../assets/images/auth/auth-bg-top.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
    border-radius: 15px;

    &>div {
      background-image: url(../../../../assets/images/auth/auth-bg-bottom.svg);
      background-repeat: no-repeat;
      background-position: bottom left;
    }

    .min-h {
      height: calc(100vh - 7rem);
    }
  }

  .form-logo {
    width: 3rem;
  }

  .form-h {
    min-height: calc(100vh - 6.7rem);
  }

  .form-btn {
    background-color: var(--bg-main-color);
    border-color: var(--bg-main-color);
    color: var(--text-white-color);
    height: 3.7rem;
    border-radius: var(--border-input-radius);
  }

  #content-data-secion {
    .title {
      font-size: 25px;
      font-weight: 600;
    }

    ul {
      li {
        .fw-bold {
          font-weight: 600 !important;
          font-size: 14px;
        }
      }
    }

    .main-hero-image-conatiner {
      img {
        border-radius: 14px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .notice {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    flex-direction: column;
  }

  .footer-logo {
    width: 9rem;
  }

  .social-icon {
    width: 31px;
    min-width: 31px;
    height: 31px;
    background-color: #0c293533;
  }
}

@media (max-width: 587px) {
  #complete-order {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
    min-height: auto;
    padding: 1rem;

    #content-data-secion {
      .main-hero-image-conatiner {
        img {
          border-radius: 1.7rem;

        }
      }

      h1 {
        font-size: 2.2rem;
        color: var(--text-main-color) !important;
      }

      .description {
        font-size: .9rem;
        margin-bottom: .5rem;
      }

      ul {
        li {
          .fw-bold {
            font-weight: 700 !important;
            font-size: 0.9rem;
          }
        }
      }

      .btn {
        font-size: .9rem;
        margin-bottom: 1rem;

      }

      .main-hero-image-conatiner {
        img {
          border-radius: 1.7rem;
        }
      }
    }

    .form-h {
      min-height: calc(100vh - 10.7rem);
    }
  }
}

//Buttons
.btn-solid-main {
  min-width: 7rem;
  color: var(--text-white-color) !important;
  background-color: var(--bg-main-color) !important;
  border-color: var(--text-main-color) !important;
  border-radius: 0.5rem;
  padding: 0.65rem 1.25rem;
  font-size: 1rem;
  position: relative;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.btn-solid-main:hover,
.btn-solid-main:focus {
  color: var(--text-white-color) !important;
}

.btn-outline-main,
.btn-outline-main:hover,
.btn-outline-main:focus,
.btn-outline-main:focus-visible,
.btn-outline-main:active {
  min-width: 7rem;
  color: var(--text-main-color) !important;
  background-color: transparent;
  border-color: var(--text-main-color) !important;
  border-radius: 0.5rem;
  padding: 0.65rem 1.25rem;
  font-size: 1rem;
  position: relative;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}