<div id="doctor-registration" class="pb-4">
  <div class="container">
    <div class="d-flex gap-3 justify-content-between align-items-center">
      <ng-container *ngFor="let item of steps;let i=index">
        <div class="d-flex gap-2 flex-column align-items-center justify-content-center step-info"
          [class.active-step]="item.isSelected">
          <div>
            <i [class]="item.icon" class="step-icon"></i>
          </div>
          {{item.title}}
        </div>
        <div *ngIf="i!=3">
          <i class="pi pi-arrow-right"></i>
        </div>
      </ng-container>
    </div>
    <div class="step-container pt-4">
      <div [class.d-none]="stepNum!=1">
        <app-personal-info (personalInfo)="submitPersonalInfo($event)"></app-personal-info>
      </div>
      <div [class.d-none]="stepNum!=2">
        <app-professional-data (professionalData)="submitProfessionalData($event)"
          (back)="back($event)"></app-professional-data>
      </div>
      <div [class.d-none]="stepNum!=3">
        <app-certification-and-expertise (certificationData)="submitCertificationData($event)"
          (back)="back($event)"></app-certification-and-expertise>
      </div>
      <div *ngIf="stepNum==4">
        <app-review-and-submit (back)="back($event)" (sendNow)="registerNow()"
          [data]="submittedData"></app-review-and-submit>
      </div>
    </div>
  </div>
</div>