<div id="features-slider" [class.ar-slider]="currentLanguage=='ar'">
  <ng-container *ngIf="items?.length>1; else noSlider">
    <p-carousel [value]="items" [numVisible]="1" [numScroll]="1" [orientation]="'vertical'" [showIndicators]="true"
      [autoplayInterval]="7000" [showNavigators]="false">
      <ng-template let-slide pTemplate="item">
        <app-feature-card class="w-100" [item]="slide"></app-feature-card>
      </ng-template>
    </p-carousel>
  </ng-container>
  <ng-template #noSlider>
    <div class="row">
      <app-feature-card [item]="items[0]"></app-feature-card>
    </div>
  </ng-template>
</div>
