<div class="uploader row w-100 d-flex justify-content-center align-items-center m-auto"
  [class.justify-content-between]="showImage" (dragover)="handleDragOver($event)" (dragenter)="handleDragEnter()"
  (dragleave)="handleDragLeave()" (drop)="handleDrop($event)">

  <ng-container *ngIf="showImage && !isLoading">
    <div class="col-sm-6 p-0">
      <div class="d-flex align-items-center gap-3 p-2">
        <p-image [src]="isEdit?image:imageName" alt="Image" width="90" [preview]="true"></p-image>

        <!-- <img class="fit-object-cover loaded" [src]="isEdit?image:imageName" (load)="handleImageLoad()"
          onerror="src='assets/images/not-found/no-img.svg'" alt="image" /> -->
        <div class="text-truncate">
          <p class="fw-500 mb-2">{{name}}</p>
          <p class="mb-0 text-desc-color">{{imageSize}}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!showImage">
    <div class="col-12">
      <label class="w-100 d-flex align-items-center justify-content-center" ondragover="return false;"
        [class.loaded]="loaded">
        <input #inputFile type="file" name="file" accept="image/png, image/jpg, image/jpeg"
          (change)="handleInputChange($event)" hidden />
        <div class="d-flex justify-content-center text-center py-3">
          <a class="fw-bold text-dark-color d-flex flex-column align-items-center">
            <span class="mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-photo-plus" width="27"
                height="27" viewBox="0 0 24 24" stroke-width="1.5" stroke="#274d70" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M15 8h.01" />
                <path d="M12.5 21h-6.5a3 3 0 0 1 -3 -3v-12a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v6.5" />
                <path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l4 4" />
                <path d="M14 14l1 -1c.67 -.644 1.45 -.824 2.182 -.54" />
                <path d="M16 19h6" />
                <path d="M19 16v6" />
              </svg>
            </span>
            <!-- <img src="assets/images/icons/image.svg" class="mb-2" alt="image icon"> -->
            <p class="fw-500 mb-0">{{'general.clickToUpload'|translate}}</p>
            <small class="text-desc-color">{{'general.supports'|translate}} jpg, jpeg, png -
              {{'general.maxSize'|translate}}: 5 MB</small>
          </a>
        </div>
      </label>
    </div>
  </ng-container>
  <ng-container *ngIf="showImage && !isLoading">
    <div class="col-sm-6">
      <div class="d-flex flex-wrap gap-2 justify-content-end py-3">
        <label class="d-flex align-items-center gap-2 pointer btn-card badge-info" [class.loaded]="loaded">
          <input #inputFile type="file" name="file" accept="image/png, image/jpg, image/jpeg"
            (change)="handleInputChange($event)" hidden />
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="25" height="25"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill=" none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
              <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
            </svg>
          </span>
          <ng-container *ngIf="enableReplace">
            <span class="fw-500">{{'general.replace'|translate}}</span></ng-container>
        </label>
        <button class="btn-card badge-danger d-flex align-items-center
          gap-2" (click)="removeImg()">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="25" height="25"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 7l16 0" />
            <path d="M10 11l0 6" />
            <path d="M14 11l0 6" />
            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
          </svg>
        </button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="showImage && isLoading">
    <i class="pi pi-spinner m-auto"></i>
    <!-- <app-list-skeleton [type]="'uploadImage'"></app-list-skeleton> -->
  </ng-container>
</div>