#employee-rquests {
  padding-top: 5rem;
  padding-bottom: 3rem;

  // Start Hero Section
  #hero-secion {
    min-height: 70vh;
    background-color: var(--bg-main-color);
    border-radius: 20px;
    background-image: url("./../../../../assets/images/services/empolyee-requests/employe-requests-hero-ltr.webp"); // Replace with your actual image path
    background-size: cover; // Adjust as needed (e.g., 'contain', '100% auto', etc.)
    background-repeat: no-repeat;
    background-position: center center;

    // Change background image when direction is right-to-left (RTL)
    &:dir(rtl) {
      background-image: url("./../../../../assets/images/services/empolyee-requests/employe-requests-hero-rtl.webp") !important; // Path to RTL background image
    }

    padding: 4rem;
    color: var(--text-white-color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .title {
      font-size: 33px;
      line-height: 53.57px;
    }

    .description {
      font-size: 15px;
      line-height: 30px;
    }

    // Start Hero Section Search
    .search-container {
      .input-group {
        background: #ffffff59;
        width: 80%;
        border: 1px solid #ffffff33;
        box-shadow: 0px 0px 20px 6px #26282a26;
        .form-control {
          height: 3rem;
          color: var(--text-white-color);
          &::placeholder {
            color: var(--text-white-color) !important;
          }
        }
        .input-group-text {
          background-color: transparent !important;
        }
        .send-btn {
          width: 2rem;
          min-width: 2rem;
          height: 2rem;
        }
      }
      .spinner-item {
        width: 7px;
        height: 7px;
      }
    }
    @media (max-width: 576px) {
      .search-container {
        .input-group {
          width: 100%;
        }
      }
    }
    // End Hero Section Search

    // Start Hero Section Topics
    .topics {
      .label {
        padding-inline-end: 0.25rem;
      }

      .topic-item {
        font-size: 0.8rem;
        padding-inline-start: 0.8rem;
        padding-inline-end: 0.8rem;
        background-color: #c5c4c4;
        color: black;
        border-radius: 30px;
      }
    }

    // End Hero Section Topics
  }

  //  Hero Section Button
  .btn-outline-white {
    min-width: 7rem;
    color: var(--text-white-color) !important;
    background-color: transparent !important;
    border-width: 2px;
    border-color: var(--text-white-color) !important;
    border-radius: 0.5rem;
    padding: 0.65rem 1.25rem;
    font-size: 0.9rem;
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }

  .btn-solid-main {
    min-width: 7rem;
    color: var(--text-white-color) !important;
    background-color: var(--bg-main-color) !important;
    border-color: var(--text-main-color) !important;
    border-radius: 0.5rem;
    padding: 0.65rem 1.25rem;
    font-size: 1rem;
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }

  .btn-solid-main:hover,
  .btn-solid-main:focus {
    color: var(--text-white-color) !important;
  }

  .btn-outline-danger {
    min-width: 7rem;
    color: red !important;
    background-color: var(--bg-white-color) !important;
    border-color: red !important;
    border-radius: 0.5rem;
    padding: 0.65rem 1.25rem;
    font-size: 1rem;
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }

  .btn-outline-danger :hover,
  .btn-outline-danger :focus {
    color: red !important;
  }

  // End Hero Section

  // Start Employee Rquests Summary Section
  #summary {
    .summary-item {
      .summary-item-title {
        font-size: 40px;
        font-weight: 800;
      }
      .gradient-fast-level {
        background: linear-gradient(70.65deg, #ff1b6b -19.17%, #76213f 204.69%);
        background-clip: text; /* Standard property */
        -webkit-background-clip: text; /* Vendor-prefixed property for WebKit browsers */
        color: transparent;
      }
      .gradient-fast-level {
        background: linear-gradient(70.65deg, #ff1b6b -19.17%, #76213f 204.69%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }

      .gradient-fast-text {
        background: linear-gradient(268.94deg, #ff1b6b -5.98%, #45caff 95.88%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }

      .gradient-less-level {
        background: linear-gradient(268.94deg, #1dbde6 -5.98%, #f89b29 95.88%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }

      .gradient-less-text {
        background: linear-gradient(268.94deg, #1dbde6 -5.98%, #f89b29 95.88%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }

      .gradient-count-level {
        background: linear-gradient(268.94deg, #99505d 9.34%, #0b3866 102.19%);
        background-clip: text;
        color: transparent;
      }

      .gradient-count-text {
        background: linear-gradient(268.94deg, #0b3866 -5.98%, #6ac293 95.88%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    .item-vlaue {
      color: #213039;
      font-size: 14px;
    }
  }

  // End Employee Rquests Summary Section

  // End Offices List Section
  #list {
    .title {
      font-size: 25px;
    }
  }

  // End Offices List Section
}

@media only screen and (max-width: 600px) {
  #employee-rquests {
    padding-top: 1rem;
    padding-bottom: 1rem;

    // Start Hero Section
    #hero-secion {
      height: auto;
      min-height: auto;
      padding: 1rem;

      .title {
        font-size: 1rem;
        margin-bottom: 0 !important;
      }

      .description {
        font-size: 0.8rem;
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
      }

      .searchbar {
        width: 100%;
        max-width: 100%;
      }

      .topics {
        flex-direction: column;
      }
    }

    // End Hero Section
  }
}
