<div id="privacy">
  <div class="container">
    <div class="privacyHero">
      <div class="row align-items-center">
        <div class="col-md-7 py-4">
          <p>في تلبينة، نعطي أولوية لخصوصيتك. تصف هذه السياسة المعلومات التي نجمعها، وكيفية استخدامها، وحقوقك.</p>
          <div class="mt-4">
            <h3 class="fw-bold mb-5 dectorated-title">نجمع البيانات لتقديم خدمات أفضل:</h3>
            <p>- معلومات شخصية مثل الاسم والبريد الإلكتروني والعمر عند التسجيل.</p>
            <p>- بيانات استخدام التطبيق لتحسين خدماتنا.</p>
            <p>- المحادثات داخل التطبيق لأغراض الاستشارات.</p>
          </div>
          <div class="mt-4">
            <h4 class="fw-bold dectorated-title mb-5">نستخدم البيانات ل:</h4>
            <p>- تقديم وصيانة وتحسين خدماتنا.</p>
            <p>- الرد على طلبات دعم العملاء.</p>
            <p>- تعزيز وظائف التطبيق وتجربة المستخدم.</p>
          </div>
        </div>
        <div class=" col-md-5">
          <img src="assets/images/privacy/privacy.svg" class="w-100" alt="category">
        </div>
      </div>
    </div>
    <section class="policy py-5">
      <!-- <h3 style="color: #0d0d76;">مقدمة:</h3>
      <p>في تلبينة، نعطي أولوية لخصوصيتك. تصف هذه السياسة المعلومات التي نجمعها، وكيفية استخدامها، وحقوقك.</p> -->


      <!-- <h3 style="color: #0d0d76;">جمع البيانات:</h3>
      <h4>نجمع البيانات لتقديم خدمات أفضل:</h4> -->

      <!-- <p>- معلومات شخصية مثل الاسم والبريد الإلكتروني والعمر عند التسجيل.</p>
      <p>- بيانات استخدام التطبيق لتحسين خدماتنا.</p>
      <p>- المحادثات داخل التطبيق لأغراض الاستشارات.</p> -->

      <!-- <h3 style="color: #0d0d76;">استخدام البيانات:</h3>
      <h4>نستخدم البيانات ل:</h4>
      <p>- تقديم وصيانة وتحسين خدماتنا.</p>
      <p>- الرد على طلبات دعم العملاء.</p>
      <p>- تعزيز وظائف التطبيق وتجربة المستخدم.</p> -->
      <div class="row">
        <div class="col-md-6">
          <h3 style="color: #0d0d76;">مشاركة البيانات:</h3>
          <p class="mb-0">بياناتك سرية. لن نشاركها بدون موافقتك الصريحة، باستثناء الحالات المطلوبة قانونيًا.</p>
        </div>
        <div class="col-md-6">
          <h3 style="color: #0d0d76;">حقوقك:</h3>
          <p class="mb-0">يمكنك الوصول إلى بياناتك أو تعديلها أو حذفها في أي وقت. اتصل بدعمنا لأي استفسارات متعلقة
            بالخصوصية.</p>
        </div>
      </div>

      <h2 style="color: #0d0d76;">*شروط الخدمة لـ تلبينة*:</h2>

      <h3 style="color: #0d0d76;">مقدمة:</h3>
      <h5>مرحبًا بك في تلبينة. باستخدام خدماتنا، فإنك توافق على هذه الشروط.</h5>

      <h3 style="color: #0d0d76;" class="mt-4">وصف الخدمة:</h3>
      <h5>تلبينة هو منصة استشارات الصحة النفسية، تقدم الموارد والنصائح المهنية.</h5>

      <h3 style="color: #0d0d76;" class="mt-4">مسؤوليات المستخدم:</h3>
      <p>- يجب عليك تقديم معلومات دقيقة عند التسجيل.</p>
      <p>- حسابك شخصي؛ مشاركة تفاصيل تسجيل الدخول محظورة.</p>
      <p>- سيؤدي الاستخدام المسيء أو الأنشطة غير المشروعة إلى إنهاء الحساب.</p>
      <div class="row">
        <div class="col-md-6">
          <h3 style="color: #0d0d76;">إخلاء المسؤولية:</h3>
          <p>تلبينة لا يحل محل النصيحة الطبية المهنية. استشر دائمًا مع محترف في الرعاية الصحية للقضايا الجادة.</p>
        </div>
        <div class="col-md-6">
          <h3 style="color: #0d0d76;">إنهاء الخدمة:</h3>
          <p>قد ننهي الحسابات لمخالفة هذه الشروط أو لأسباب أمنية.</p>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>