#footer {
  background-color: var(--bg-secondary-color);
  .footer-logo {
    width: 12rem;
  }
  .input-group {
    border: 2px solid var(--bg-main-color);
    .form-control {
      height: 3rem;
    }
    .input-group-text {
      background-color: transparent !important;
    }
    .join-btn {
      width: 2rem;
      min-width: 2rem;
      height: 2rem;
    }
  }
  .social-icon {
    width: 31px;
    min-width: 31px;
    height: 31px;
    background-color: #0c293533;
  }
}
