<footer class="pb-3" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="footer-logo">
          <img src="assets/images/logo/lg-logo.webp" alt="footer-logo" class="w-100">
        </div>
        <p class="mt-3">
          {{'footer.description'|translate}}
        </p>
        <ul class="mt-4 d-flex gap-2 flex-wrap p-0">
          <li>
            <a href="https://www.instagram.com/talbinahco/" target="_blank" class="social-icon d-flex justify-content-center align-items-center rounded-circle">
              <app-dynamic-svg [name]="'instagram'"></app-dynamic-svg>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC9E9CQeyAkiWYjPqSG7FS_A"
            target="_blank" class="social-icon d-flex justify-content-center align-items-center rounded-circle">
              <app-dynamic-svg [name]="'youtube'"></app-dynamic-svg>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/Talbinahco" target="_blank" class="social-icon d-flex justify-content-center align-items-center rounded-circle">
              <app-dynamic-svg [name]="'twitter'"></app-dynamic-svg>
            </a>
          </li>
          <li>
            <a  href="https://www.linkedin.com/company/100702383/admin/feed/posts/?feedType=following&shareMsgArgs=null"
            target="_blank" class="social-icon d-flex justify-content-center align-items-center rounded-circle">
              <app-dynamic-svg [name]="'linkedin'"></app-dynamic-svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/Talbinahco" target="_blank" class="social-icon d-flex justify-content-center align-items-center rounded-circle">
              <app-dynamic-svg [name]="'facebook'"></app-dynamic-svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-6 mt-lg-0 mt-4">
        <h6 class="fw-bold fs-5">
          {{'footer.pages'|translate}}
        </h6>
        <ul class="p-0 mt-3">
          <li>
            <a class="nav-link mb-3">
              {{'footer.aboutUs'|translate}}
            </a>
          </li>
          <li>
            <a class="nav-link mb-3">
              {{'footer.virtual'|translate}}
            </a>
          </li>
          <li>
            <a class="nav-link mb-3">
              {{'footer.patient'|translate}}
            </a>
          </li>
          <li>
            <a class="nav-link mb-3">
              {{'footer.quality'|translate}}
            </a>
          </li>
          <li>
            <a class="nav-link mb-3">
              {{'footer.career'|translate}}
            </a>
          </li>
          <li>
            <a class="nav-link mb-3">
              {{'footer.site'|translate}}
            </a>
          </li>
          <li>
            <a class="nav-link mb-3">
              {{'footer.education'|translate}}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-6 mt-lg-0 mt-4">
        <h6 class="fw-bold fs-5">
          {{'footer.public'|translate}}
        </h6>
        <ul class="p-0 mt-3">
          <li>
            <a class="nav-link mb-3">
              {{'footer.blog'|translate}}
            </a>
          </li>
          <li>
            <a class="nav-link mb-3">
              {{'footer.policy'|translate}}
            </a>
          </li>
          <li>
            <a class="nav-link mb-3">
              {{'footer.privacy'|translate}}
            </a>
          </li>
          <li>
            <a class="nav-link mb-3">
              {{'footer.inquiries'|translate}}
            </a>
          </li>
        </ul>
        <h6 class="fw-bold fs-5">
          {{'footer.want'|translate}}
        </h6>
        <ul class="p-0 mt-3">
          <li>
            <a class="nav-link mb-3">
              {{'footer.ask'|translate}}
            </a>
          </li>
          <li>
            <a class="nav-link mb-3">
              {{'footer.find'|translate}}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 mt-lg-0 mt-4">
        <h6 class="fw-bold fs-5">
          {{'footer.public'|translate}}
        </h6>
        <ul class="p-0 mt-3">
          <li>
            <a href="tel:{{'(+966) 552272756'}}" target="_blank" class="dir-ltr nav-link d-flex gap-2 align-items-center mb-3">
              <span>
                <app-dynamic-svg [name]="'phone'"></app-dynamic-svg>
              </span>
              {{'(+966) 552272756'}}
            </a>
          </li>
          <li>
            <a href="mailto:{{'info@talbinah.net'}}" class="nav-link d-flex gap-2 align-items-center mb-3">
              <span>
                <app-dynamic-svg [name]="'email'"></app-dynamic-svg>
              </span>
              {{'info@talbinah.net'}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-md-center align-items-center flex-wrap  gap-lg-5 gap-md-4 gap-3 mt-4">
      <h6 class="fs-5 fw-bold mb-0">
        {{'footer.download'|translate}}
      </h6>
      <div class="d-flex flex-wrap gap-3">
        <a href="https://apps.apple.com/us/app/%D8%AA%D9%84%D8%A8%D9%8A%D9%86%D8%A9-talbinah/id6464413895"
          target="_blank" rel="noopener noreferrer" class="d-flex gap-2 align-items-center app-btn p-2">
          <app-dynamic-svg [name]="'dark-app-store-icon'"></app-dynamic-svg>
          <div class="lh-1">
            <small class="fs-8-1">{{'general.downloadNow'|translate}}</small>
            <p class="mb-0 fw-500 text-capitalize fs-5 lh-1">
              {{'general.appStore'|translate}}
            </p>
          </div>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.talbinah.talbinah&pli=1" target="_blank"
          rel="noopener noreferrer" class="d-flex gap-2 align-items-center app-btn p-2">
          <app-dynamic-svg [name]="'dark-google-play-icon'"></app-dynamic-svg>
          <div class="lh-1">
            <small class="fs-8-1">{{'general.downloadNow'|translate}}</small>
            <p class="mb-0 fw-500 text-capitalize fs-5 lh-1">
              {{'general.googlePlay'|translate}}
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>