<div id="doctor-registration-form">
  <div class="account-setting mt-3">
    <h4 class="text-main-color p-2">
      <!-- {{'general.1'|translate}}. {{'doctorRegisteration.personal_data' | translate}} -->
      ١. البيانات الشخصية
    </h4>
    <div class="" *ngIf="data?.personalInfo?.doctorImg">
      <p-image [src]="data?.personalInfo?.doctorImg?.imageName" alt="Image" width="90" [preview]="true"></p-image>
    </div>
    <div class="row">
      <div class="d-flex flex-column justify-content-center align-content-center w-100">
        <div class="text-center mb-4">
          <!-- <img [src]="cropped || ''" class="rounded img-user" onerror="this.src='assets/imgs/default.png'"
              alt="user-avatar" /> -->
        </div>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.nameEn"|translate}} -->
          الإسم باللغة الآنجليزية
        </label>
        <div class="form-control d-flex align-items-center justify-content-between">
          {{data?.personalInfo?.name_en}}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.nameAr"|translate}} -->
          الإسم باللغة العربية
        </label>
        <div class="form-control d-flex align-items-center justify-content-between">
          {{data?.personalInfo?.name_ar}}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.email"|translate}} -->
          البريد الالكتروني
        </label>
        <div class="form-control d-flex align-items-center justify-content-between">
          {{data?.personalInfo?.email}}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.phoneNumber"|translate}} -->
          رقم الهاتف
        </label>
        <div class="form-control d-flex align-items-center justify-content-between">
          {{data?.personalInfo?.phoneCode?.phone_code}} {{data?.personalInfo?.phone}}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.gender"|translate}} -->
          النوع
        </label>
        <div class="form-control d-flex align-items-center justify-content-between">
          {{data?.personalInfo?.gender?.value}}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.dateOfBirth"|translate}} -->
          تاريخ الميلاد
        </label>
        <div class="form-control d-flex align-items-center justify-content-between">
          {{ data?.personalInfo?.birthdate| date: 'd MMMM y':'':currentLanguage }}
        </div>
      </div>
      <div class="col-12 px-0 mb-2 pt-3" *ngIf="data?.personalInfo?.socialLink?.length>0">
        <h5>
          <!-- {{'doctorRegisteration.social_media' | translate}} -->
          وسائل التواصل
        </h5>
        <div class="row w-100 m-0">
          <ng-container *ngFor="let item of data?.personalInfo?.socialLink">
            <div class="col-md-5 col-xs-12 mb-2 px-0">
              <div class="d-flex align-items-center justify-content-between social w-100">
                <div class="d-flex align-items-baseline">
                  <i *ngIf="item?.name?.value === 'linkedin'"
                    class='pi pi-linkedin text-white rounded bg-linkedin fs-12 icon-social-settings'></i>
                  <i *ngIf="item?.name?.value === 'twitter'"
                    class='pi pi-twitter text-white rounded bg-twitter fs-12 icon-social-settings'></i>
                  <i *ngIf="item?.name?.value === 'youtube'"
                    class='pi pi-youtube text-white rounded bg-youtube fs-12 icon-social-settings'></i>
                  <i *ngIf="item?.name?.value === 'facebook'"
                    class='pi pi-facebook text-white rounded bg-color-face fs-12 icon-social-settings'></i>
                  <i *ngIf="item?.name?.value === 'instagram'"
                    class='pi pi-instagram text-white rounded bg-color-instagram fs-12 icon-social-settings'></i>
                  <span class="mx-2">
                    <span class="w-100 social-link">
                      <a [href]="item?.link" target="_blank"> {{item?.link}}</a>
                    </span>
                  </span>
                </div>

              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="data1 mt-3">
    <h4 class="text-main-color p-2">
      <!-- {{"general.2"|translate}}. {{'doctorRegisteration.professional_data' | translate}} -->
      ٢. البيانات المهنية
    </h4>
    <div class="row">

      <ng-container *ngIf="data?.enable_15_minutes">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
          <label class="form-label">
            <!-- {{"doctorRegisteration.price_Egy_15"|translate}} -->
            سعر الجلسة بالريال السعودي (15 دقيقة)
          </label>
          <div class="form-control">
            {{data?.certificationData?.egyPrice_15 ||
            '...'}}
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
          <label class="form-label">
            <!-- {{"doctorRegisteration.price_dollar_15"|translate}} -->
            سعر الجلسة بالدولار (15 دقيقة)
          </label>
          <div class="form-control">
            {{data?.certificationData?.dollarPrice_15 ||
            '...'}}
          </div>
        </div>
      </ng-container>

      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.price_Egy_30"|translate}} -->
          سعر الجلسة بالريال السعودي (30 دقيقة)
        </label>
        <div class="form-control">
          {{data?.certificationData?.egyPrice_30 ||
          '...'}}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.price_dollar_30"|translate}} -->
          سعر الجلسة بالدولار (30 دقيقة)
        </label>
        <div class="form-control">
          {{data?.certificationData?.dollarPrice_30 ||
          '...'}}
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.price_Egy_45"|translate}} -->
          سعر الجلسة بالريال السعودي (45 دقيقة)
        </label>
        <div class="form-control">
          {{data?.certificationData?.egyPrice_45 ||
          '...'}}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.price_dollar_45"|translate}} -->
          سعر الجلسة بالدولار (45 دقيقة)
        </label>
        <div class="form-control">
          {{data?.certificationData?.dollarPrice_45 ||
          '...'}}
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.price_Egy_60"|translate}} -->
          سعر الجلسة بالريال السعودي (60 دقيقة)
        </label>
        <div class="form-control">
          {{data?.certificationData?.egyPrice_60 ||
          '...'}}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.price_dollar_60"|translate}} -->
          سعر الجلسة بالدولار (60 دقيقة)
        </label>
        <div class="form-control">
          {{data?.certificationData?.dollarPrice_60 ||
          '...'}}
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.country"|translate}} -->
          الدولة
        </label>
        <div class="form-control">
          {{data?.professionalData?.country_id?.name ||
          '...'}}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.license_no"|translate}} -->
          رقم الرخصة
        </label>
        <div class="form-control">
          {{data?.professionalData?.license ||
          '...'}}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.license_organization"|translate}} -->
          ترخيص المنظمة
        </label>
        <div class="form-control">
          {{data?.professionalData?.organization ||
          '...'}}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.years_of_experience"|translate}} -->
          سنوات الخبرة
        </label>
        <div class="form-control">
          {{data?.professionalData?.years_of_experience ||
          '...'}}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.prefix"|translate}} -->
          اللقب
        </label>
        <div class="form-control">
          {{data?.professionalData?.prefix?.name ||
          '...'}}
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.language"|translate}} -->
          اللغة
        </label>
        <div class="form-control">
          {{data?.professionalData.language_id?.title ||
          '...'}}</div>
      </div>
    </div>
  </div>
  <hr />
  <div class="data2 mt-3">
    <h4 class="text-main-color p-2">
      <!-- {{"general.3"|translate}}. {{'doctorRegisteration.cert_exp' | translate}} -->
      ٣. الشهادات والخبرات
    </h4>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
        <label class="form-label">
          <!-- {{"doctorRegisteration.cat"|translate}} -->
          التخصص
        </label>
        <div class="form-control d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center gap-3 text-truncate w-75">
            <ng-container *ngFor="let item of data?.certificationData?.parentCategory;let i =index">
              <ng-container *ngIf="i<=2">
                <span class="d-flex align-items-center gap-2 selected-item py-1 px-2">
                  <p class="mb-0">{{item.name}}</p>
                  <i class="pi pi-times-circle"></i>
                </span>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="data?.certificationData?.parentCategory?.length>3">
              <span class="d-flex align-items-center gap-2 selected-item py-1 px-2">
                <p class="mb-0">
                  <!-- {{'general.other'|translate}} -->
                  أخري
                </p>
                <span><span>+</span>{{data?.certificationData?.parentCategory?.length-3}}</span>
              </span>
            </ng-container>
          </div>
          <ng-container *ngIf="data?.certificationData?.parentCategory?.length>3">
            <button class="btn bg-main-color text-white-color fs-6-1 text-truncate"
              (click)="browseAll('parentCategory')">
              <span>{{"general.browseAll"|translate}}</span>
            </button>
          </ng-container>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.cv"|translate}} -->
          السيرة الذاتية
        </label>
        <div class="border p-2 rounded d-flex justify-content-between align-items-center gap-2">
          <div class="d-flex align-items-center justify-content-between gap-3">
            <ng-container *ngIf="data?.certificationData?.cvFile?.file?.type?.includes('image')">
              <img class="fit-object-cover loaded shadow-sm" [src]="data?.cvFile?.image"
                onerror="src='assets/images/not-found/no-img.svg'" alt="image" />
            </ng-container>
            <ng-container *ngIf="data?.certificationData?.cvFile?.file?.type?.includes('pdf')">
              <img class="fit-object-cover loaded" src="assets/images/icons/pdf.svg" />
            </ng-container>
            <ng-container *ngIf="data?.certificationData?.cvFile?.file?.type?.includes('docx')">
              <img class="fit-object-cover loaded" src="assets/images/icons/word.png" />
            </ng-container>
            <div class="text-truncate">
              <p class="fw-500 mb-0">{{data?.certificationData?.cvFile?.file?.name}}</p>
              <p class="mb-0 text-desc-color">
                {{publicService.formatSizeUnits(data?.certificationData?.cvFile?.file?.size)}}</p>
            </div>

          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <label class="form-label">
          <!-- {{"doctorRegisteration.cert"|translate}} -->
          الشهادات
        </label>
        <div class="all-files rounded p-2 border">
          <div class="files-content">
            <ng-container *ngFor="let item of data?.certificationData?.certificatesFiles?.image
              ;let i=index">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-3">
                  <ng-container *ngIf="item?.type?.includes('image')">
                    <img class="fit-object-cover loaded shadow-sm"
                      [src]="data?.certificationData?.certificatesFiles?.file?.img[i]?.img"
                      onerror="src='assets/images/not-found/no-img.svg'" alt="image" />
                  </ng-container>
                  <ng-container *ngIf="item?.type?.includes('pdf')">
                    <img class="fit-object-cover loaded" src="assets/images/icons/pdf.svg" />
                  </ng-container>
                  <ng-container *ngIf="item?.type?.includes('docx')||item?.type?.includes('document')">
                    <img class="fit-object-cover loaded" src="assets/images/icons/word.png" />
                  </ng-container>
                  <div class="text-truncate">
                    <p class="fw-500 mb-0">{{item?.name}}</p>
                    <p class="mb-0 text-desc-color">{{publicService.formatSizeUnits(item?.size)}}</p>
                  </div>
                </div>
              </div>
              <hr class="my-2" *ngIf="i<data?.certificationData?.certificatesFiles?.image?.length-1">
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2" *ngIf="data?.certificationData?.othersFiles?.image?.length>0">
        <label class="form-label">
          <!-- {{"doctorRegisteration.upload_others"|translate}} -->
          أخري
        </label>
        <div class="all-files rounded p-2 border">
          <div class="files-content px-2">
            <ng-container *ngFor="let item of data?.certificationData?.othersFiles?.image
              ;let i=index">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-3">
                  <ng-container *ngIf="item?.type?.includes('image')">
                    <img class="fit-object-cover loaded shadow-sm" [src]="data?.othersFiles?.file?.img[i]?.img"
                      onerror="src='assets/images/not-found/no-img.svg'" alt="image" />
                  </ng-container>
                  <ng-container *ngIf="item?.type?.includes('pdf')">
                    <img class="fit-object-cover loaded" src="assets/images/icons/pdf.svg" />
                  </ng-container>
                  <ng-container *ngIf="item?.type?.includes('docx')||item?.type?.includes('document')">
                    <img class="fit-object-cover loaded" src="assets/images/icons/word.png" />
                  </ng-container>
                  <div class="text-truncate">
                    <p class="fw-500 mb-0">{{item?.name}}</p>
                    <p class="mb-0 text-desc-color">{{publicService.formatSizeUnits(item?.size)}}</p>
                  </div>

                </div>
              </div>
              <hr class="my-2" *ngIf="i<data?.certificationData?.othersFiles?.image?.length-1">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 d-flex justify-content-end gap-3">
    <button (click)="backStep()" type="button"
      class="btn btn-solid-main btn-solid-main d-flex justify-content-center align-items-center gap-2">
      <i class="pi pi-arrow-left scaleX-rtl"></i>
      <!-- {{"doctorRegisteration.back"|translate}} -->
      رجوع
    </button>
    <button type="submit" (click)="registerNow()"
      class="btn btn-solid-main d-flex justify-content-center align-items-center gap-2">
      <i class="pi pi-send"></i>
      ارسال
      <!-- {{"general.send"|translate}} -->
      <!-- <span *ngIf="isLoadingBtn">
          <i class="fa fa-spinner fa-spin mx-1" aria-hidden="true"></i>
        </span> -->
    </button>
  </div>
</div>