#join-us {
  padding-top: 7rem;
  background: url('../../../assets/images/doctors/doctor-details-bg.svg') no-repeat center/cover;
  min-height: 100vh;

  @media (max-width: 1200px) {
    padding-top: 1.5rem;
  }

  .overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    transform: scaleX(-1);
    z-index: -1;
  }

  .steps-join-icon {
    width: 3.25rem;
    height: 3.25rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(82, 63, 105, 0.15);
  }

  .btn-solid-main {
    background-color: var(--bg-main-color);
    border-color: var(--bg-main-color);
    color: var(--text-white-color);
    height: 3rem;
    width: 10rem;
    border-radius: var(--border-input-radius);
  }
}
