<section id="join-us">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center-small">
      <div class="col-md-6 order-xl-1 order-md-1 order-sm-2 order-2">
        <div class="content-text pt-5">
          <h2 class="text-main-color mb-3 text-center-small">
            <!-- {{"joinUs.mainTitle"|translate}} -->
            انضم إلينا و قم بمساهمتك الآن
          </h2>
          <p class="lead w-xl-75 w-sm-100 w-100 my-xl-5 my-md-3 text-center-small">
            <!-- {{"joinUs.mainDescription"|translate}} -->
            "استمتع بممارسة العلاج النفسي عبر الإنترنت ؛ الآن يمكنك التواصل مع الآلاف من العملاء من جميع أنحاء العالم
            بشكل خاص. انضم إلينا مع الأطباء النفسيين وعلماء النفس الآخرين من جميع أنحاء العالم
          </p>
          <div class="w-100 text-center-small">
            <!-- <button type="button" [routerLink]="['/Doctor-Registration']" class="btn btn-solid-main"> -->
            <button type="button" class="btn btn-solid-main" [routerLink]="['/Doctor-Registration']">
              <!-- {{"joinUs.joinNow"| translate}} -->
              انضم الآن
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 order-xl-2 order-md-2 order-sm-1 order-1">
        <div class="w-100 image-sm">
          <img src="assets/images/joinUs/join-us.svg" class="w-100" loading="lazy" alt="join-us">
        </div>
      </div>
      <div class="overlay-img w-100">
        <img src="assets/images/joinUs/overlay-img.svg" class="w-100" loading="lazy" alt="join-us">
      </div>
    </div>
    <div class="mt-xl-5 mt-md-4 mt-4">
      <h3 class="text-main-color text-center vector-bg">
        <!-- {{"joinUs.stepsTitle"|translate}} -->
        كيف تنضم لفريق أطباء اطمن
      </h3>
      <div class="row justify-content-center mt-xl-4 mt-md-3 mt-sm-3 mt-3">
        <div class="col-md-6 col-sm-12 col-12 h-100">
          <div class="mt-xl-5 mt-md-3 mt-sm-3 mt-3">
            <div class="d-flex align-items-center">
              <span class="d-flex align-items-center justify-content-center steps-join fw-bold">
                <img src="assets/images/joinUs/category.svg" class="mx-1" loading="lazy" alt="category">
              </span>
              <h5 class="mx-xl-3 mx-md-2 mx-sm-2 mx-2 mb-0">
                <!-- {{"joinUs.step1"|translate}} -->
                اضغط على انضم إلينا الآن
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100">
          <div class="mt-xl-5 mt-md-3 mt-sm-3 mt-3">
            <div class="d-flex align-items-center">
              <span class="d-flex align-items-center justify-content-center steps-join fw-bold">
                <img src="assets/images/joinUs/category.svg" class="mx-1" loading="lazy" alt="category">
              </span>
              <h5 class="mb-0 mx-xl-4 mx-md-3 mx-sm-3 mx-xl-3 mx-md-2 mx-sm-2 mx-2">
                <!-- {{"joinUs.step2"|translate}} -->
                قم برفع سيرتك الذاتية
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100">
          <div class="mt-xl-5 mt-md-3 mt-sm-3 mt-3">
            <div class="d-flex align-items-center">
              <span class="d-flex align-items-center justify-content-center steps-join fw-bold">
                <img src="assets/images/joinUs/category.svg" class="mx-1" loading="lazy" alt="category">
              </span>
              <h5 class="mb-0 mx-xl-3 mx-md-2 mx-sm-2 mx-2">
                <!-- {{"joinUs.step3"|translate}} -->
                أكمل ملفك الشخصي
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100">
          <div class="mt-xl-5 mt-md-3 mt-sm-3 mt-3">
            <div class="d-flex align-items-center">
              <span class="d-flex align-items-center justify-content-center steps-join fw-bold">
                <img src="assets/images/joinUs/category.svg" class="mx-1" loading="lazy" alt="category">
              </span>
              <h5 class="mb-0 mx-xl-4 mx-md-3 mx-sm-3 mx-xl-3 mx-md-2 mx-sm-2 mx-2">
                <!-- {{"joinUs.step4"|translate}} -->
                أضف مواعيدك المتاحة لبدأ استقبال عملاء
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <!-- <button type="button" class="btn btn-solid-main my-5" [routerLink]="['/Doctor-Registration']"> -->
        <!-- (click)="downloadApp()" -->
        <button type="button" class="btn btn-solid-main my-5" [routerLink]="['/Doctor-Registration']">
          <!-- {{"joinUs.joinNow"| translate}} -->
          انضم الآن
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>