<div id="faqs">
  <div class="container">
    <div class="faqs-content mb-5">
      <ng-container *ngIf="faqs?.general?.length>0">
        <div id="general">
          <ng-container *ngIf="false; else noFaq">
            <app-skeleton [type]="'faqs'"></app-skeleton>
          </ng-container>
          <ng-template #noFaq>
            <h3 class="dectorated-title text-main-color fw-bold mb-5">
              عام
            </h3>
            <p-accordion [expandIcon]="'pi pi-plus'" [collapseIcon]="'pi pi-minus'">
              <ng-container *ngFor="let item of faqs?.general let i = index">
                <p-accordionTab [header]="item?.question">
                  <span [innerHTML]="getSafeHtml(item?.answer)"></span>
                </p-accordionTab>
              </ng-container>
            </p-accordion>
          </ng-template>
        </div>
      </ng-container>

      <ng-container *ngIf="faqs?.others?.length>0">
        <div id="others" class="mt-5">
          <ng-container *ngIf="false; else noOther">
            <app-skeleton [type]="'faqs'"></app-skeleton>
          </ng-container>
          <ng-template #noOther>
            <h3 class="dectorated-title text-main-color fw-bold mb-5">
              مشاكل أخري
            </h3>
            <p-accordion [expandIcon]="'pi pi-plus'" [collapseIcon]="'pi pi-minus'">
              <ng-container *ngFor="let item of faqs?.others let i = index">
                <p-accordionTab [header]="item?.question">
                  <span [innerHTML]="getSafeHtml(item?.answer)"></span>
                </p-accordionTab>
              </ng-container>
            </p-accordion>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
  <app-footer></app-footer>
</div>