:host {
  #blogs-list {
    padding-top: 7rem;

    @media (max-width: 1200px) {
      padding-top: 1.5rem;
    }

    .thumbnail-img {
      border: 2px solid var(--main-color);
      border-radius: 50%;
      height: 45px;
      width: 45px;
      object-fit: cover;
      box-shadow: 0 0.125rem 0.65rem rgba(0, 0, 0, 0.13);
    }

    .text-box {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
    }

    .card {
      background-color: var(--bg-white-color);
      border-radius: 20px;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      border: none;
    }

    .hero-image {
      border-radius: 5px;
      height: 12rem;
      box-shadow: 0 0.125rem 0.65rem rgba(0, 0, 0, 0.13);
    }

    li.nav-item {
      a.nav-link {
        cursor: pointer;
        color: var(--grey-700);
        font-size: 1.2rem;
        font-weight: normal;
        
        &:hover, &.active {
          color: var(--text-main-color);
          border-bottom: 2px solid var(--bg-main-color);
          font-weight: bold;
        }

        @media (max-width: 767px) {
          font-size: 0.8rem;
        }
      }
    }
  }
  
  .py-small {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .p-paginator {
    .p-link {
      border-radius: 50%;
    }

    .p-paginator-page {
      min-width: 2.5rem;
      height: 2.5rem;
      &.p-highlight {
        background-color: #f9fafb;
        color: #000;
      }
    }

    &.ar-blogs-content {
      .p-paginator-prev, .p-paginator-next, .p-paginator-first, .p-paginator-last {
        transform: scaleX(-1);
      }
    }
  }

  .border-bottom {
    @media (max-width: 1200px) {
      border-color: transparent !important;
    }
  }
}