:host::ng-deep {
  #blogs-list {
    padding-top: 7rem;
    .thumbil-img {
      border: 2px solid var(--main-color);
      border-radius: 50%;
      height: 45px;
      width: 45px;
      object-fit: cover;
      box-shadow: 0 0.125rem 0.65rem #00000013;
    }
    #someDiv {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
    }
    .card {
      background-color: var(--bg-white-color);
      border-radius: 20px;
      box-shadow: 0px 3px 15px 0px #0000001a;
      padding: 1rem;
      border: none;
    }

    .hero-image {
      border-radius: 5px;
      height: 12rem;
      box-shadow: 0 0.125rem 0.65rem #00000013;
    }

    li {
      &.nav-item {
        a {
          &.nav-link {
            cursor: pointer;
            color: var(--grey-700);
            font-size: 1.2rem;

            @media (max-width: 767px) {
              font-size: 0.8rem !important;
            }
          }

          &.active {
            color: var(--text-main-color);
            border-bottom: 2px solid var(--bg-main-color);
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .py-small {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}
:host::ng-deep {
  .p-paginator {
    .p-link {
      border-radius: 50% !important;
    }
    .p-paginator-page {
      min-width: 2.5rem;
      height: 2.5rem;
    }
    .p-paginator-page.p-highlight {
      background-color: #f9fafb !important;
      color: #000 !important;
    }
  }
  &.ar-blogs-content {
    .p-paginator-prev,
    .p-paginator-next,
    .p-paginator-first,
    .p-paginator-last {
      transform: scaleX(-1);
    }
  }
}
@media (max-width: 1200px) {
  #blogs-list {
    padding-top: 1.5rem;
  }
  .border-bottom {
    border-color: transparent !important;
  }
}
