#login {
  padding-top: 7rem;
  padding-bottom: 3rem;

  min-height: 70vh;
  background-color: var(--bg-main-color);
  background-image: url("./../../../../assets/images/login-for-order-completetion/bg-login-for-order-completetion.svg"); // Replace with your actual image path
  background-size: cover; // Adjust as needed (e.g., 'contain', '100% auto', etc.)
  background-repeat: no-repeat;
  background-position: center center;

  // Change background image when direction is right-to-left (RTL)
  &:dir(rtl) {
    background-image: url("./../../../../assets/images/login-for-order-completetion/bg-login-for-order-completetion.svg") !important; // Path to RTL background image
  }

  .form-box {
    display: flex;
    align-items: center;
    justify-content: center;

    .form-elements {
      box-shadow: 0px 0px 20px 6px #26282A26;
      border-radius: 30px;
      background-color: var(--bg-white-color);
    }

    .form-logo {
      width: 3rem;
    }

    hr {
      border-width: 2px;
    }

    .form-btn {
      background-color: var(--bg-main-color);
      border-color: var(--bg-main-color);
      color: var(--text-white-color);
      height: 3.7rem;
      border-radius: var(--border-input-radius);
    }

    .social {
      width: 4rem;
      height: 3rem;
      border-radius: 10px;

      &.apple {
        background-color: #111;
      }

      &.google {
        background-color: #fff;
        box-shadow: 0px 2px 3px 0px #0000002b;
      }

      &.facebook {
        background-color: #1877f2;
      }
    }
  }

  .footer-logo {
    width: 9rem;
  }

  .social-icon {
    width: 31px;
    min-width: 31px;
    height: 31px;
    background-color: #0c293533;
  }
}

@media (max-width: 587px) {
  #login {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
    min-height: auto;
    padding: 1rem;


    .fs-2 {
      font-size: 1.3rem !important;
    }
  }
}