.loader-container {
  background-image: url(../../../../assets/images/splash-screen.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  inset: 0;
  z-index: 1000;
  .logo {
    width: 11rem;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
  // 0% {
  //   transform: scale(1.2);
  // }
  // 100% {
  //   transform: scale(1);
  // }
}
