<div *ngFor="let i of socialBtns">
  <a *ngIf="type === i.name" (click)="share()">
    <div class="icon-content text-center mb-4" id="share-button">
      <div class="icon d-flex justify-content-center align-items-center mb-2 {{i.name}} m-auto">
        <ng-container *ngIf="type=='twitter'; else notTwitter">
          <svg [classList]="'hover-icon'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#111"
            class="bi bi-twitter-x" viewBox="0 0 16 16">
            <path
              d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z" />
          </svg> </ng-container>
        <ng-template #notTwitter>
          <i class="fab fa-{{i.icon}} fs-5"></i>
        </ng-template>
      </div>
      <p class="fs-9 text-capitalize text-dark-color">{{i.name}}</p>
    </div>
  </a>
</div>